@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',  sans-serif;
}

main .hero{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding: 20px 80px;
    color: white;
    width: 100%;
    position: relative;
}

main .hero::before{
    content: "";
    background-color: #43D27D;
    position: absolute;
    width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

main .hero .content{
    flex-basis: 55%;
}

main .hero .img-hero{
    flex-basis: 45%;
    height: 100%;
    display: flex;
    align-items: center;
}

main .hero .img-hero img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

main .hero .title{
    font-size: 64px;
    line-height: 120%;
}

main .hero .description{
    margin-top: 32px;
    margin-bottom: 24px;
    color: rgba(255,255,255,0.7);
    font-weight: 400;
    font-size: 18px;
}

main .hero button#btnLearnMore{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 16px 48px;
    border-radius: 36px;
    text-transform: uppercase;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {

    main .hero{
        flex-direction: column;
        text-align: center;
        padding: 20px 40px;
        height: auto;
    }

    main .hero::before{
        content: "";
        background-color: #43D27D;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }
}

